*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Firebase & Archivos Sensibles / Configuración Local
app/google-services.json
*.keystore


# Android Studio y Gradle
.gradle/
build/
app/build/
.idea/

# Archivos del Sistema Operativo

Thumbs.db

# Ignorar TODA la carpeta .idea (más simple y seguro)

# Build de módulos (por si acaso, además de /build)
/app/build
/*/build