*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


# Ignorar TODA la carpeta .idea (más simple y seguro)
.idea/

# Build de módulos (por si acaso, además de /build)
/app/build
/*/build